@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a dark color scheme */
:root {
  color-scheme: dark;
}

/* Global body styles */
body {
  @apply bg-gray-900 text-gray-100;
}

/* Custom scrollbar styling for WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-600 rounded-full hover:bg-indigo-500;
}
